<%- include('../partials/header') %>
<script>
    document.title = "Home Page";

    function makeApiCall() {
        document.getElementById("TheMainBody").remove();
        var card = $(' <div class="container" id="TheMainBody"></div>');
        card.appendTo('#h_re');
        var work = document.getElementById("searchInput").value;
        // console.log(work);
        if (work == "") {
            alert("NULL input");
            return;
        }
        var url = "https://reststop.randomhouse.com/resources/works/?start=0&max=12&expandLevel=1&search=" + work +
            "%22,%22work";
        $.ajax({
            url: url,
            dataType: "json"
        }).then(function (data) {
            console.log(data);
            var lenth = data.work.length;
            var num = 0;
            for (var x = 0; x < 3; x++) {
                if (num == lenth) {
                    i = 4;
                    break;
                }
                var a_name1 = data.work[num].authorweb;
                var b_name1 = data.work[num].titleweb;
                var b_index1 = num;
                num++;
                var a_name2 = data.work[num].authorweb;
                var b_name2 = data.work[num].titleweb;
                var b_index2 = num;
                num++;
                var a_name3 = data.work[num].authorweb;
                var b_name3 = data.work[num].titleweb;
                var b_index3 = num;
                num++;
                var a_name4 = data.work[num].authorweb;
                var b_name4 = data.work[num].titleweb;
                var b_index4 = num;
                num++;
                var dot = "'";
                console.log(dot); {
                    /* <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"onclick="modalChange('+ dot + b_name1+ dot +')"> Add Review </button> */
                }
                var card = $(
                    '<div class="container-sm row"> <div class="card col"> <div class = "card-body" ><h5 class = "card-title" id = "books_' +
                    b_index1 + '"> ' + b_name1 + ' </h5> <p class = "card-text"> ' + a_name1 +
                    '</p> <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"onclick="modalChange(' +
                    dot + b_name1 + dot +
                    ')"> Add Review </button> </div> </div> <div class="card col"> <div class = "card-body" ><h5 class = "card-title" id = "books_' +
                    b_index2 + '"> ' + b_name2 + ' </h5> <p class = "card-text"> ' + a_name2 +
                    '</p> <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"onclick="modalChange(' +
                    dot + b_name2 + dot +
                    ')"> Add Review </button> </div> </div><div class="card col"> <div class = "card-body" ><h5 class = "card-title" id = "books_' +
                    b_index3 + '"> ' + b_name3 + ' </h5> <p class = "card-text"> ' + a_name3 +
                    '</p> <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"onclick="modalChange(' +
                    dot + b_name3 + dot +
                    ')"> Add Review  </button> </div> </div><div class="card col"> <div class = "card-body" ><h5 class = "card-title" id = "books_' +
                    b_index4 + '"> ' + b_name4 + ' </h5> <p class = "card-text"> ' + a_name4 +
                    '</p> <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"onclick="modalChange(' +
                    dot + b_name4 + dot + ')"> Add Review  </button> </div> </div> </div>');
                card.appendTo('#TheMainBody');
            }
        })
    };

    function modalChange(book_name) {
        document.getElementById("books-name").value = book_name;
        // document.getElementById("review_form").submit();
    };
</script>



<body>
    <%- include('../partials/menu') %>

    <div id="h_re">
        <div class="container" id="TheMainBody">
        </div>
    </div>

    <!-- Trigger the modal with a button -->
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
    onclick="modalChange('test')"> Add Review </button> -->

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header row">
                    <button type="button" class="close col-1" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center ">Write Reviews</h4>
                </div>
                <div class="modal-body" id="review_form">
                    <form>
                        <div class="form-group">
                            <label for="books-name" class="col-form-label">For Books:</label>
                            <input type="text" class="form-control" id="books-name" name="books-name" disabled>
                        </div>
                        <div class="form-group">
                            <label for="Reviews-text" class="col-form-label">Your Reviews:</label>
                            <textarea class="form-control" id="reviews-text" name="reviews-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">SAVE</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>


<%- include('../partials/footer') %>