<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>ShanchengHuang_Final</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="../Resources/js/script.js"></script>
    <!-- dont forget to add this -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid row">
            <div class="collapse navbar-collapse col-sm" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reviews</a>
                    </li>

                </ul>
                <form class="d-flex col">
                    <input class="form-control me-2" type="search" placeholder="Search Here"  id= "searchInput">
                    <!-- Search input -->
                    <button class="btn btn-outline-success" type="submit" onclick="makeApiCall()" >Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container" id="TheMainBody">

    </div>
    
    

    
</body>

</html>