<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid row">
        <div class="collapse navbar-collapse col-sm" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./reviews">Reviews</a>
                </li>

            </ul>
            <form class="d-flex col">
                <input class="form-control me-2" type="search" placeholder="Search Here" id="searchInput">
                <!-- Search input -->
                <button class="btn btn-outline-success" type="submit" onclick="makeApiCall()">Search</button>
            </form>
        </div>
    </div>
</nav>
